*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
.kotlin/
*.apk
!release/*.apk
.gradle-local/
desktop-writer/node_modules/
desktop-writer/dist/
